**/__pycache__
**/.pytest_cache
**/*.*~
data/#*#
po/*.mo
resources
subprojects/blueprint-compiler
_build/
.buildconfig
flatpak/*Devel*
.venv/
.flatpak/
.flatpak-builder/
.safety-policy.yml
.vscode/settings.json
build/
dist/
routers.json
.idea/
